body {
    margin: auto;
    width: 1200px;
}

.tilbake {
    width: 150px;
    height: 30px;
    background-color: lightgrey;
    text-align: center;
    margin: 15px;
}

.container {
    width: 100%;
    background-color: #ffffff;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.object-fit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    order:1;
    padding: 10px;
    margin-bottom: 10px;
    background-color: aquamarine;
}

.object-position {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 50%;
    order: 2;
    padding: 10px;
    background-color: aquamarine;
}

.object-fit .h1 {
    margin-left: 40%;
    margin-right: 40%;
}

.object-position .h1 {
    margin-left: 15%;
    margin-right: 15%;
}

p {
    width: 200px;
    text-align: justify;
}

.picture1, .picture2, .picture3, .picture4, .picture5, .picture6, .picture7 {
    margin: 5px;
}

.picture1 img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.picture2 img {
    width: 200px;
    height: 300px;
    object-fit: contain;
}

.picture3 img {
    width: 200px;
    height: 300px;
    object-fit: fill;
}

.picture4 img {
    width: 200px;
    height: 300px;
    object-fit: none;
}

.picture5 img {
    width: 200px;
    height: 300px;
    object-fit: scale-down;
}

.picture6 img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    object-position: 20% 100%;
}

.picture7 img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    object-position: 80% 100%;
}